@import './base.css';

body {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	min-width: 100vh;
	min-height: 100vh;
	background-color: black;
}

#app {
	display: flex;
	padding: 0 2rem;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

}
